@model UserViewModel

@{
    ViewData["Title"] = "Create User";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm Mới</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Danh Sách User</a></li>
                    <li class="breadcrumb-item active">Thêm Mới User</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-file text-info"></i> Thêm Mới User</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">


            <form method="post" autocomplete="off" enctype="multipart/form-data">
                <div class="p-4 border rounded">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">

                        <div class="col-2">
                            <label asp-for="User.Username"></label>
                        </div>
                        <div class="col-4">
                            <input class="form-control" asp-for="User.Username" />
                            <span class="text-danger" asp-validation-for="User.Username"></span>
                        </div>

                        <div class="col-2">
                            <label asp-for="User.Hoten"></label>
                        </div>
                        <div class="col-4">
                            <input class="form-control" asp-for="User.Hoten" />
                            <span class="text-danger" asp-validation-for="User.Hoten"></span>
                        </div>

                    </div>



                    <div class="form-group row">

                        <div class="col-2">
                            <label asp-for="User.Password"></label>
                        </div>
                        <div class="col-4">
                            <input class="form-control" asp-for="User.Password" />
                            <span class="text-danger" asp-validation-for="User.Password"></span>
                        </div>


                        <div class="col-2">
                            <label asp-for="User.Daily"></label>
                        </div>
                        <div class="col-4">
                            <select asp-for="User.Daily" class="form-control border-input "
                                    asp-items="@(new SelectList(Model.Dmdailies,"Daily","Daily"))">
                            </select>
                            <span class="text-danger" asp-validation-for="User.Daily"></span>
                        </div>



                    </div>


                    <div class="form-group row">

                        <div class="col-2">
                            <label asp-for="User.Chinhanh"></label>
                        </div>
                        <div class="col-4">
                            <select asp-for="User.Chinhanh" class="form-control border-input"
                                    asp-items="@(new SelectList(Model.Chinhanhs,"Chinhanh1","Chinhanh1"))">
                            </select>
                        </div>


                        <div class="col-2">
                            <label asp-for="User.Trangthai"></label>
                        </div>
                        <div class="col-4">
                            <input type="checkbox" asp-for="User.Trangthai" />
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-2">
                            <label asp-for="User.Khoi"></label>
                        </div>
                        <div class="col-4">
                            <select asp-for="User.Khoi" class="form-control border-input "
                                    asp-items="@(new SelectList(Model.KhoiViewModels,"Name","Name"))">
                            </select>
                            <span class="text-danger" asp-validation-for="User.Khoi"></span>
                        </div>

                        <div class="col-2">
                            <label asp-for="User.Nhom"></label>
                        </div>
                        <div class="col-4">
                            <select asp-for="User.Nhom" class="form-control border-input "
                                    asp-items="@(new SelectList(Model.RoleViewModels,"Id","Name"))">
                            </select>
                            <span class="text-danger" asp-validation-for="User.Nhom"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-2">
                            <label asp-for="User.PhongBanQL"></label>
                        </div>
                        <div class="col-4">
                            <input type="hidden" asp-for="User.PhongBanQL" id="hidDdlPhongBanQL" />
                            <select class="phongBans select2-hidden-accessible" multiple="" data-placeholder="Chọn phòng ban" style="width: 100%;" data-select2-id="24" tabindex="-1" aria-hidden="true"
                                    asp-items="@(new SelectList(Model.PhongBans, "Maphong", "Maphong"))" id="ddlPhongBanQL">
                            </select>
                            <span class="text-danger" asp-validation-for="User.PhongBanQL"></span>
                        </div>

                        <div class="col-2">
                            <label asp-for="User.DaiLyQL"></label>
                        </div>
                        <div class="col-4">
                            <input type="hidden" asp-for="User.DaiLyQL" id="hidDdlDaiLyQL" />
                            <select class="daiLyQL select2-hidden-accessible" multiple="" data-placeholder="Chọn đại lý" style="width: 100%;" data-select2-id="23" tabindex="-1" aria-hidden="true"
                                    asp-items="@(new SelectList(Model.Dmdailies, "Id", "Daily"))" id="ddlDaiLyQL">
                            </select>
                            <span class="text-danger" asp-validation-for="User.DaiLyQL"></span>
                        </div>

                    </div>

                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
                        <a class="btn btn-success" asp-action="Index"><i class="fas fa-backward"></i></a>
                    </div>

                </div>
            </form>

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
    <script>
        $('.phongBans').select2({

            theme: 'bootstrap4'
        });

        // gan'  qua hidden field / phongBanQL
        $('.phongBans').on('change', function () {
            phongBan = $(this).val();

            $('#hidDdlPhongBanQL').val(phongBan);

        });

        // ddlDaiLyQL
         $('#ddlDaiLyQL').select2({

            theme: 'bootstrap4'
        });

        // gan'  qua hidden field
        $('.daiLyQL').on('change', function () {
            daiLy = $(this).val();

            $('#hidDdlDaiLyQL').val(daiLy);

        });

    </script>

}

