@model UserViewModel

@{
    ViewData["Title"] = "Users";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <a class="btn btn-outline-info" asp-action="Create"><i class="fas fa-plus"></i>&nbsp; Thêm Mới</a>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Users/Index">Home</a></li>
                    <li class="breadcrumb-item active">Người Dùng</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-list-alt text-info"></i> Danh Sách Người Dùng</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <div>
                <table class="table table-striped border" id="listAll">
                    <thead>
                        <tr class="table-info">
                            <th>@Html.DisplayNameFor(m => m.Users.FirstOrDefault().Username)</th>
                            <th>@Html.DisplayNameFor(m => m.Users.FirstOrDefault().Hoten)</th>
                            @*<th>@Html.DisplayNameFor(m => m.Users.FirstOrDefault().Role)</th>*@
                            <th>@Html.DisplayNameFor(m => m.Users.FirstOrDefault().Daily)</th>
                            <th>@Html.DisplayNameFor(m => m.Users.FirstOrDefault().Chinhanh)</th>
                            <th>@Html.DisplayNameFor(m => m.Users.FirstOrDefault().RoleId)</th>
                            <th>@Html.DisplayNameFor(m => m.Users.FirstOrDefault().Trangthai)</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Users != null)
                        {
                            @foreach (var item in Model.Users)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.Username)</td>
                                    <td>@Html.DisplayFor(m => item.Hoten)</td>
                                    @*<td>@string.Format("{0:0,0}", item.Gia) VNĐ</td>*@
                                    @*<td>@Html.DisplayFor(m => item.Role)</td>*@
                                    <td>@Html.DisplayFor(m => item.Daily)</td>
                                    <td>@Html.DisplayFor(m => item.Chinhanh)</td>
                                    <td>
                                        <select class="form-control form-control-sm border-input "
                                        asp-items="@(new SelectList(Model.Roles,"Id","RoleName", item.RoleId))">
                                        </select>
                                    </td>
                                    <td>@Html.DisplayFor(m => item.Trangthai)</td>

                                    <td style="width:150px;">
                                        <div class="btn-group text-white" role="group">
                                            <a class="btn btn-primary btn-sm" asp-route-id="@item.Username" asp-action="Edit"><i class="fas fa-edit"></i></a>

                                            <a class="btn btn-success btn-sm" asp-route-id="@item.Username" asp-action="Details"><i class="fas fa-list"></i></a>

                                            <a class="btn btn-danger btn-sm " asp-route-id="@item.Username" asp-action="Delete"><i class="fas fa-trash-alt"></i></a>

                                        </div>
                                    </td>

                                </tr>
                            }
                        }
                        else
                        {
                            <tr>No data.</tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section Scripts{
    <script>

        $('#listAll').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });

    </script>
}