@model BaoCaoViewModel

@{
    ViewData["Title"] = "DoanhSoTheoNgay";
    int i = 1;
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">BÁO CÁO DOANH SỐ THEO NGÀY ĐI TOUR</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body pt-0">

            <form autocomplete="off" id="frmDoanhSoTheoNgayDi">

                <div asp-validation-summary="All" class="text-danger"></div>
                @*
                <div class="container" style="padding-bottom:10px; background-color: aliceblue;" id="search">

                <div class="col-md-12">
                <div class="row" style="padding-top: 10px;">

                <div class="col-md-3">
                Từ ngày
                <input class="form-control maskInput" name="searchFromDate" value="@ViewBag.searchFromDate" id="txtSearchFromDate" type="text"/>
                </div>

                <div class="col-md-3">
                Đến ngày
                <input class="form-control maskInput" name="searchToDate" value="@ViewBag.searchToDate" id="txtSearchToDate" type="text"/>
                </div>

                <div class="col-md-2">
                Loại tour
                <select class="form-control" name="loaiTour" id="ddlLoaiTour"
                asp-items="@(new SelectList(Model.Tourkinds, "TourkindInf", "TourkindInf", ViewBag.loaiTour))">

                </select>
                </div>

                <div class="col-md-2">
                Chi nhánh
                <select class="form-control" name="Macn"
                asp-items="@(new SelectList(Model.Dmchinhanhs, "Macn", "Macn", ViewBag.Macn))">
                </select>
                </div>

                <div class="col-md-2">
                <br />
                <div class="btn-group btn-block">
                <button type="submit" class="btn btn-outline-primary " id="btnSubmitSearch" formaction="/BaoCaos/DoanhSoTheoNgayDi" formmethod="get" title="Search"><i class="fas fa-search"></i></button>
                <button type="submit" class="btn btn-outline-success " id="btnSubmitExcel" formaction="/BaoCaos/DoanhSoTheoNgayDiExcel" formmethod="post" title="Export excel"><i class="fas fa-file-excel"></i></button>
                </div>
                </div>
                </div>
                </div>
                </div>*@
                  
                    <div class="col-md-12">
                        <div class="row rounded" style="padding-bottom:5px; background-color: aliceblue;" id="search">

                            <div class="col-md-3 text-sm">
                                <label>Từ ngày</label>
                                <input class="form-control form-control-sm maskInput" name="searchFromDate" value="@ViewBag.searchFromDate" id="txtSearchToDate" />
                            </div>

                            <div class="col-md-3 text-sm">
                                <label>Đến ngày</label>
                                <input class="form-control form-control-sm maskInput" name="searchToDate" id="searchToDate" value="@ViewBag.searchToDate" />
                            </div>
                            <div class="col-md-2">
                                <label>Loại tour</label>
                                <select class="form-control form-control-sm" name="loaiTour" id="ddlLoaiTour"
                                        asp-items="@(new SelectList(Model.Tourkinds, "TourkindInf", "TourkindInf", ViewBag.loaiTour))">
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Chi nhánh</label>
                                <select class="form-control form-control-sm" name="Macn"
                                        asp-items="@(new SelectList(Model.Dmchinhanhs, "Macn", "Macn", ViewBag.Macn))">
                                </select>
                            </div>

                            <div class="col-md-2 text-sm">
                                <label>&nbsp;</label>
                                <div class=" btn-block ">
                                    <button type="submit" class="btn btn-outline-primary " id="btnSubmitSearch" formaction="/BaoCaos/DoanhSoTheoNgayDi" formmethod="get" title="Search"><i class="fas fa-search"></i></button>
                                    <button type="submit" class="btn btn-outline-success " id="btnSubmitExcel" formaction="/BaoCaos/DoanhSoTheoNgayDiExcel" formmethod="post" title="Export excel"><i class="fas fa-file-excel"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </form>

            <br />

            <div style="overflow-x:auto;">
                <table class="table mytable text-nowrap " id="listDoanhSoTheoNgayDi">
                    <thead>
                        <tr class="table-info">
                            <th>Sgtcode</th>
                            <th>Ngày đi</th>
                            <th>Ngày về</th>
                            <th>Tuyến tham quan</th>
                            <th>Số khách</th>
                            <th>Doanh số</th>
                            <th>Sales</th>
                            <th>Tên công ty / Khách hàng</th>
                            <th>Loại tour</th>
                            <th>Nguồn tour</th>
                            <th>Ngày tạo</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.TourTheoNgay_IB != null)
                        {
                            @foreach (var item in Model.TourTheoNgay_IB.TourIBDTOs)
                            {

                                <tr class="cursor-pointer ">

                                    @switch (item.TrangThai)
                                    {

                                        case "0":
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                            break;
                                        case "1":
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                            break;
                                        case "2":
                                            <td class="tdVal bg-yellow" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                            break;
                                        case "3":
                                            <td class="tdVal " style="background-color: chartreuse" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                            break;
                                        case "4":
                                            <td class="tdVal bg-red" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                            break;
                                    }

                                    <td class="tdVal" data-id="@item.Id">@Html.Raw(item.NgayDen.ToString("dd/MM/yyyy"))</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.Raw(item.NgayDi.ToString("dd/MM/yyyy"))</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.TuyenTQ)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.Raw((item.SoKhachTT == 0) ? "0" : item.SoKhachTT.ToString("N0"))</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.Raw((item.DoanhThuTT == 0) ? "0" : item.DoanhThuTT.ToString("N0"))</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.NguoiTao)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.CompanyId.CompanyName)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.TenLoaiTour)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.NguonTour)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.Raw(item.NgayTao.ToString("dd/MM/yyyy"))</td>

                                </tr>

                            }
                            <tr class="cursor-pointer text-bold">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Tổng Cộng:</td>
                                <td>@Html.Raw(Model.TourBaoCaoDtosTheoNgay.TongSK.ToString("N0"))</td>
                                <td>@Html.Raw(Model.TourBaoCaoDtosTheoNgay.TongDS.ToString("N0"))</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr class="cursor-pointer text-bold">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="background-color: chartreuse">Các đoàn đã thanh lý:</td>
                                <td>@Html.Raw(Model.TourBaoCaoDtosTheoNgay.TongSKCacDoanDaThanhLy.ToString("N0"))</td>
                                <td>@Html.Raw(Model.TourBaoCaoDtosTheoNgay.TongDSCacDoanDaThanhLy.ToString("N0"))</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr class="cursor-pointer text-bold">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="bg-yellow">Các đoàn chưa thanh lý:</td>
                                <td>@Html.Raw(Model.TourBaoCaoDtosTheoNgay.TongSKCacDoanChuaThanhLy.ToString("N0"))</td>
                                <td>@Html.Raw(Model.TourBaoCaoDtosTheoNgay.TongDSCacDoanChuaThanhLy.ToString("N0"))</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr class="cursor-pointer text-bold">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Các đoàn chưa ký HD:</td>
                                <td>@Html.Raw(Model.TourBaoCaoDtosTheoNgay.TongSKCacDoanChuaKyHD.ToString("N0"))</td>
                                <td>@Html.Raw(Model.TourBaoCaoDtosTheoNgay.TongDSCacDoanChuaKyHD.ToString("N0"))</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>

                        }

                    </tbody>

                </table>
            </div>

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section Scripts{

    <script>

        $(function() {
            //$("#datepicker").datepicker({
            //    dateFormat: 'dd/mm/yy'
            //});

            $('#listDoanhSoTheoNgayDi').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": false,
                "autoWidth": true,
            });
        });

        $('#frmDoanhSoTheoNgayDi').validate({
            //rules: {
            //    email: {
            //        required: true,
            //        email: true,
            //    },
            //    NgayDen: {
            //        required: true
            //    },
            //    chuDetour1: {
            //        required: true
            //    },
            //},
            //messages: {
            //    email: {
            //        required: "Please enter a email address",
            //        email: "Please enter a vaild email address"
            //    },
            //    NgayDen: {
            //        required: "Please provide a date"
            //    },
            //    chuDetour1: "Please enter value"
            //},
            errorElement: 'span',
            errorPlacement: function(error, element) {
                // add error text

                //error.addClass('invalid-feedback').removeClass('error');
                //element.closest('.chuDeTourGroup').append(error);
            },
            highlight: function(element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function(element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        $('#txtSearchFromDate').rules('add', {
            dateITA: true,
            messages: {
                //required: "Chủ đề không được để trống"
            }
        });

        $('#txtSearchToDate').rules('add', {
            dateITA: true,
            messages: {
                //required: "Chủ đề không được để trống"
            }
        });

    </script>
    @*<script src="~/js/Admin/DoanhSoTheoSale/doanhSoTheoSaleController.js"></script>*@

    <style>
        /*#listDoanhSoTheoSale {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }*/

        #search {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        /*.tblTour .cursor-pointer:hover {
            background-color: #3E5C9A;
            cursor: pointer;
        }*/

        /*.hoverClass {
            background-color: #3E5C9A;
        }*/
    </style>
}

