@model BaoCaoViewModel

@{
    ViewData["Title"] = "DoanhSoTheoNgay";
    int i = 1;
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">BÁO CÁO DOANH SỐ THEO NGÀY ĐI TOUR</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body pt-0">

            <form autocomplete="off" id="frmDoanhSoTheoNgayDi">

                <div asp-validation-summary="All" class="text-danger"></div>
                @*
                <div class="container" style="padding-bottom:10px; background-color: aliceblue;" id="search">

                <div class="col-md-12">
                <div class="row" style="padding-top: 10px;">

                <div class="col-md-3">
                Từ ngày
                <input class="form-control maskInput" name="searchFromDate" value="@ViewBag.searchFromDate" id="txtSearchFromDate" type="text"/>
                </div>

                <div class="col-md-3">
                Đến ngày
                <input class="form-control maskInput" name="searchToDate" value="@ViewBag.searchToDate" id="txtSearchToDate" type="text"/>
                </div>

                <div class="col-md-2">
                Loại tour
                <select class="form-control" name="loaiTour" id="ddlLoaiTour"
                asp-items="@(new SelectList(Model.Tourkinds, "TourkindInf", "TourkindInf", ViewBag.loaiTour))">

                </select>
                </div>

                <div class="col-md-2">
                Chi nhánh
                <select class="form-control" name="Macn"
                asp-items="@(new SelectList(Model.Dmchinhanhs, "Macn", "Macn", ViewBag.Macn))">
                </select>
                </div>

                <div class="col-md-2">
                <br />
                <div class="btn-group btn-block">
                <button type="submit" class="btn btn-outline-primary " id="btnSubmitSearch" formaction="/BaoCaos/DoanhSoTheoNgayDi" formmethod="get" title="Search"><i class="fas fa-search"></i></button>
                <button type="submit" class="btn btn-outline-success " id="btnSubmitExcel" formaction="/BaoCaos/DoanhSoTheoNgayDiExcel" formmethod="post" title="Export excel"><i class="fas fa-file-excel"></i></button>
                </div>
                </div>
                </div>
                </div>
                </div>*@

                <div class="col-md-12">
                    <div class="row rounded" style="padding-bottom:5px; background-color: aliceblue;" id="search">

                        <div class="col-md-3 text-sm">
                            <label>Từ ngày</label>
                            <input class="form-control form-control-sm maskInput" name="searchFromDate" value="@ViewBag.searchFromDate" id="txtSearchToDate" />
                        </div>

                        <div class="col-md-3 text-sm">
                            <label>Đến ngày</label>
                            <input class="form-control form-control-sm maskInput" name="searchToDate" id="searchToDate" value="@ViewBag.searchToDate" />
                        </div>
                        <div class="col-md-2">
                            <label>Loại tour</label>
                            <select class="form-control form-control-sm" name="loaiTour" id="ddlLoaiTour"
                                    asp-items="@(new SelectList(Model.Loaitours, "Tenloaitour", "Tenloaitour", ViewBag.loaiTour))">
                            </select>
                        </div>
                        <div class="col-md-1">
                            <label>Chi nhánh</label>
                            <select class="form-control form-control-sm" name="Macn"
                                    asp-items="@(new SelectList(Model.Dmchinhanhs, "Macn", "Macn", ViewBag.Macn))">
                            </select>
                        </div>

                        <div class="col-md-1">
                            <label class="control-label">Khối</label>
                            <select class="form-control form-control-sm" name="khoi"
                                    asp-items="@(new SelectList(Model.Khois_KD, "Name", "Name", ViewBag.khoi))">
                            </select>
                        </div>

                        <div class="col-md-2 text-sm">
                            <label>&nbsp;</label>
                            <div class=" btn-block btn-group">
                                <button type="submit" class="btn btn-outline-primary btn-sm" id="btnSubmitSearch" formaction="/BaoCao/DoanhSoTheoNgayDi" formmethod="get" title="Search"><i class="fas fa-search"></i></button>
                                <button type="submit" class="btn btn-outline-success btn-sm" id="btnSubmitExcel" formaction="/BaoCao/DoanhSoTheoNgayDiExcel" formmethod="post" title="Export excel"><i class="fas fa-file-excel"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

            <br />

            <div style="overflow-x:auto;">

                <table class="table mytable text-nowrap " id="listDoanhSoTheoNgayDi">
                    <thead>
                        <tr class="table-info">
                            <th>STT</th>
                            <th>Sgtcode</th>
                            <th>Ngày đi</th>
                            <th>Ngày về</th>
                            <th>Tuyến tham quan</th>
                            <th>Số khách</th>
                            <th>Doanh số</th>
                            <th>Sales</th>
                            <th>Tên công ty / Khách hàng</th>
                            <th>Loại tour</th>
                            <th>Nguồn tour</th>
                            <th>Ngày tạo</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Khoi == "IB")
                        {
                            @if (Model.TourTheoNgay_IB.TourIBDTOs != null)
                            {
                                @foreach (var item in Model.TourTheoNgay_IB.TourIBDTOs)
                                {

                                    <tr class="cursor-pointer ">
                                        <td>@i</td>
                                        @switch (item.TrangThai)
                                        {

                                            case "0":
                                                <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                break;
                                            case "1":
                                                <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                break;
                                            case "2":
                                                <td class="tdVal bg-yellow" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                break;
                                            case "3":
                                                <td class="tdVal " style="background-color: chartreuse" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                break;
                                            case "4":
                                                <td class="tdVal bg-red" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                break;
                                        }

                                        <td class="tdVal" data-id="@item.Id">@Html.Raw(item.NgayDen.ToString("dd/MM/yyyy"))</td>
                                        <td class="tdVal" data-id="@item.Id">@Html.Raw(item.NgayDi.ToString("dd/MM/yyyy"))</td>
                                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.TuyenTQ)</td>
                                        <td class="tdVal" data-id="@item.Id">@Html.Raw(item.SoKhachTT == 0) ? item.Sokhachdk.Value.ToString("N0") : item.SoKhachTT.ToString("N0"))</td>
                                        <td class="tdVal" data-id="@item.Id">@Html.Raw(item.DoanhThuTT == 0) ? item.DoanhThuDk.Value.ToString("N0") : item.DoanhThuTT.ToString("N0"))</td>
                                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.NguoiTao)</td>
                                        <td class="tdVal" data-id="@item.Id">
                                            <select class="form-control form-control-sm border-input "
                                        asp-items="@(new SelectList(Model.Companies,"CompanyId","Name", item.CompanyId))">
                                            </select>
                                        </td>
                                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.TenLoaiTour)</td>
                                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.NguonTour)</td>
                                        <td class="tdVal" data-id="@item.Id">@Html.Raw(item.NgayTao.ToString("dd/MM/yyyy"))</td>

                                    </tr>
                                    i++;
                                }
                                <tr class="cursor-pointer text-bold">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Tổng Cộng:</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_IB.TongSK.ToString("N0"))</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_IB.TongDS.ToString("N0"))</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr class="cursor-pointer text-bold">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="background-color: chartreuse">Các đoàn đã thanh lý:</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_IB.TongSKCacDoanDaThanhLy.ToString("N0"))</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_IB.TongDSCacDoanDaThanhLy.ToString("N0"))</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr class="cursor-pointer text-bold">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="bg-yellow">Các đoàn chưa thanh lý:</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_IB.TongSKCacDoanChuaThanhLy.ToString("N0"))</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_IB.TongDSCacDoanChuaThanhLy.ToString("N0"))</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr class="cursor-pointer text-bold">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Các đoàn chưa ký HD:</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_IB.TongSKCacDoanChuaKyHD.ToString("N0"))</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_IB.TongDSCacDoanChuaKyHD.ToString("N0"))</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>

                            }
                        }

                        @if (Model.Khoi == "ND")
                        {
                            @if (Model.TourTheoNgay_ND.TourNDDTOs != null)
                            {
                                @foreach (var item in Model.TourTheoNgay_ND.TourNDDTOs)
                                {

                                    <tr class="cursor-pointer ">
                                        <td>@i</td>
                                        @switch (item.Trangthai)
                                        {

                                            case "0":
                                                <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                break;
                                            case "1":
                                                <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                break;
                                            case "2":
                                                <td class="tdVal bg-yellow" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                break;
                                            case "3":
                                                <td class="tdVal " style="background-color: chartreuse" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                break;
                                            case "4":
                                                <td class="tdVal bg-red" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                break;
                                            default:
                                                <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                break;

                                        }

                                        <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Batdau.Value.ToString("dd/MM/yyyy"))</td>
                                        <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Ketthuc.Value.ToString("dd/MM/yyyy"))</td>
                                        <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Tuyentq)</td>
                                        <td class="tdVal" data-id="@item.Idtour">@Html.Raw((item.Sokhachtt == 0) ? item.Sokhachdk.Value.ToString("N0") : item.Sokhachtt.Value.ToString("N0"))</td>
                                        <td class="tdVal" data-id="@item.Idtour">@Html.Raw((item.Doanhthutt == 0) ? item.Doanhthudk.Value.ToString("N0") : item.Doanhthutt.Value.ToString("N0"))</td>
                                        <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Nguoitao)</td>
                                        <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Tenkh)</td>
                                        <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Loaitourid)</td>
                                        <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Nguontour)</td>
                                        <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Ngaytao.Value.ToString("dd/MM/yyyy"))</td>

                                    </tr>
                                    i++;
                                }
                                <tr class="cursor-pointer text-bold">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Tổng Cộng:</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_ND.TongSK.ToString("N0"))</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_ND.TongDS.ToString("N0"))</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr class="cursor-pointer text-bold">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="background-color: chartreuse">Các đoàn đã thanh lý:</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_ND.TongSKCacDoanDaThanhLy.ToString("N0"))</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_ND.TongDSCacDoanDaThanhLy.ToString("N0"))</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr class="cursor-pointer text-bold">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="bg-yellow">Các đoàn chưa thanh lý:</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_ND.TongSKCacDoanChuaThanhLy.ToString("N0"))</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_ND.TongDSCacDoanChuaThanhLy.ToString("N0"))</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr class="cursor-pointer text-bold">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Các đoàn chưa ký HD:</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_ND.TongSKCacDoanChuaKyHD.ToString("N0"))</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_ND.TongDSCacDoanChuaKyHD.ToString("N0"))</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>

                            }
                        }

                        @if (Model.Khoi == "OB")
                        {
                            @if (Model.TourTheoNgay_OB.TourOBDTOs != null)
                            {
                                @foreach (var item in Model.TourTheoNgay_OB.TourOBDTOs)
                                {

                                    <tr class="cursor-pointer ">
                                        <td>@i</td>
                                        @switch (item.Trangthai)
                                        {

                                            case "0":
                                                <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                break;
                                            case "1":
                                                <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                break;
                                            case "2":
                                                <td class="tdVal bg-yellow" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                break;
                                            case "3":
                                                <td class="tdVal " style="background-color: chartreuse" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                break;
                                            case "4":
                                                <td class="tdVal bg-red" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                break;
                                            default:
                                                <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                break;
                                        }

                                        <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Batdau.Value.ToString("dd/MM/yyyy"))</td>
                                        <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Ketthuc.Value.ToString("dd/MM/yyyy"))</td>
                                        <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Tuyentq)</td>
                                        <td class="tdVal" data-id="@item.Idtour">@Html.Raw((item.Sokhachtt == 0) ?  item.Sokhachdk.Value.ToString("N0") : item.Sokhachtt.Value.ToString("N0"))</td>
                                        <td class="tdVal" data-id="@item.Idtour">@Html.Raw((item.Doanhthutt == 0) ?  item.Doanhthudk.Value.ToString("N0") : item.Doanhthutt.Value.ToString("N0"))</td>
                                        <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Nguoitao)</td>
                                        <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Tenkh)</td>
                                        <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Loaitourid)</td>
                                        <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Nguontour)</td>
                                        <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Ngaytao.Value.ToString("dd/MM/yyyy"))</td>

                                    </tr>
                                    i++;
                                }
                                <tr class="cursor-pointer text-bold">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Tổng Cộng:</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_OB.TongSK.ToString("N0"))</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_OB.TongDS.ToString("N0"))</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr class="cursor-pointer text-bold">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="background-color: chartreuse">Các đoàn đã thanh lý:</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_OB.TongSKCacDoanDaThanhLy.ToString("N0"))</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_OB.TongDSCacDoanDaThanhLy.ToString("N0"))</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr class="cursor-pointer text-bold">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="bg-yellow">Các đoàn chưa thanh lý:</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_OB.TongSKCacDoanChuaThanhLy.ToString("N0"))</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_OB.TongDSCacDoanChuaThanhLy.ToString("N0"))</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr class="cursor-pointer text-bold">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Các đoàn chưa ký HD:</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_OB.TongSKCacDoanChuaKyHD.ToString("N0"))</td>
                                    <td>@Html.Raw(Model.TourTheoNgay_OB.TongDSCacDoanChuaKyHD.ToString("N0"))</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>

                            }
                        }

                    </tbody>

                </table>

            </div>


        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section Scripts{

    <script>

        $(function() {
            //$("#datepicker").datepicker({
            //    dateFormat: 'dd/mm/yy'
            //});

            $('#listDoanhSoTheoNgayDi').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": false,
                "autoWidth": true,
            });
        });

        $('#frmDoanhSoTheoNgayDi').validate({
            //rules: {
            //    email: {
            //        required: true,
            //        email: true,
            //    },
            //    NgayDen: {
            //        required: true
            //    },
            //    chuDetour1: {
            //        required: true
            //    },
            //},
            //messages: {
            //    email: {
            //        required: "Please enter a email address",
            //        email: "Please enter a vaild email address"
            //    },
            //    NgayDen: {
            //        required: "Please provide a date"
            //    },
            //    chuDetour1: "Please enter value"
            //},
            errorElement: 'span',
            errorPlacement: function(error, element) {
                // add error text

                //error.addClass('invalid-feedback').removeClass('error');
                //element.closest('.chuDeTourGroup').append(error);
            },
            highlight: function(element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function(element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        $('#txtSearchFromDate').rules('add', {
            dateITA: true,
            messages: {
                //required: "Chủ đề không được để trống"
            }
        });

        $('#txtSearchToDate').rules('add', {
            dateITA: true,
            messages: {
                //required: "Chủ đề không được để trống"
            }
        });

    </script>
    @*<script src="~/js/Admin/DoanhSoTheoSale/doanhSoTheoSaleController.js"></script>*@

    <style>
        /*#listDoanhSoTheoSale {
                                                                            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                                                                        }*/

        #search {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        /*.tblTour .cursor-pointer:hover {
                                                                            background-color: #3E5C9A;
                                                                            cursor: pointer;
                                                                        }*/

        /*.hoverClass {
                                                                            background-color: #3E5C9A;
                                                                        }*/
    </style>
}

