@model BaoCaoViewModel

@{
    ViewData["Title"] = "DoanhSoTheoSale - Thống kê";
    int i = 1;
}

<!-- Main content -->
<section class="content pt-2">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">BÁO CÁO DOANH SỐ THEO SALES</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-2">

            <form autocomplete="off" id="frmDoanhSoTheoSale">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="container" style="padding-bottom:5px; background-color: aliceblue;" id="search">

                    <div class="col-md-12">
                        <div class="row" style="padding-top: 10px;">

                            <div class="col-md-3">
                                Từ ngày
                                <input class="form-control form-control-sm maskInput" name="searchFromDate" value="@ViewBag.searchFromDate" id="txtSearchFromDate" />
                            </div>

                            <div class="col-md-3">
                                Đến ngày
                                <input class="form-control form-control-sm maskInput" name="searchToDate" value="@ViewBag.searchToDate" id="txtSearchToDate" />
                            </div>

                            <div class="col-md-2">
                                Chi nhánh
                                @*<input class="form-control" name="searchString" value="@ViewBag.searchString" />*@
                                <select class="form-control form-control-sm" name="Macn"
                                        asp-items="@(new SelectList(Model.Dmchinhanhs, "Macn", "Macn", ViewBag.Macn))">
                                    <option value="">-- All --</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                Khối
                                @*<input class="form-control" name="searchString" value="@ViewBag.searchString" />*@
                                <select class="form-control form-control-sm" name="khoi"
                                        asp-items="@(new SelectList(Model.Khois_KD, "Name", "Name", ViewBag.khoi))">
                                </select>
                            </div>

                            <div class="col-md-2">
                                <br />
                                <div class="btn-group btn-block">
                                    <button type="submit" class="btn btn-outline-primary btn-sm" id="btnSubmitSearch" formaction="/BaoCao/DoanhSoTheoSale" formmethod="get" title="Search"><i class="fas fa-search"></i></button>
                                    <button type="submit" class="btn btn-outline-success btn-sm" id="btnSubmitExcel" formaction="/BaoCao/DoanhSoTheoSaleExcel" formmethod="post" title="Export excel"><i class="fas fa-file-excel"></i></button>
                                    <button type="submit" class="btn btn-outline-warning btn-sm" id="btnSubmitExcelChart" formaction="/BaoCao/DoanhSoTheoSaleExcelChart" formmethod="post" title="Export excel chart"><i class="fas fa-chart-bar"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br />
            <div style="overflow-x:auto;height: 600px;">
                <!-- KDIB-->
                @if (@Model.Khoi == "IB")
                {
                    <table class="table mytable text-nowrap tblTour" id="listDoanhSoTheoSale">
                        <thead>
                            <tr class="table-info">
                                @*<th>#</th>*@
                                @*<th>#</th>*@
                                <th>STT</th>
                                <th>@Html.DisplayNameFor(m => m.TourIBDTOs.FirstOrDefault().Sgtcode)</th>
                                <th>@Html.DisplayNameFor(m => m.TourIBDTOs.FirstOrDefault().CompanyId)</th>
                                <th>@Html.DisplayNameFor(m => m.TourIBDTOs.FirstOrDefault().NgayDen)</th>
                                <th>@Html.DisplayNameFor(m => m.TourIBDTOs.FirstOrDefault().NgayDi)</th>
                                <th>@Html.DisplayNameFor(m => m.TourIBDTOs.FirstOrDefault().ChuDeTour)</th>
                                <th>@Html.DisplayNameFor(m => m.TourIBDTOs.FirstOrDefault().TuyenTQ)</th>
                                <th>@Html.DisplayNameFor(m => m.TourIBDTOs.FirstOrDefault().SoKhachDK)</th>
                                <th>@Html.DisplayNameFor(m => m.TourIBDTOs.FirstOrDefault().DoanhThuDK)</th>
                                <th>@Html.DisplayNameFor(m => m.TourIBDTOs.FirstOrDefault().SoKhachTT)</th>
                                <th>@Html.DisplayNameFor(m => m.TourIBDTOs.FirstOrDefault().DoanhThuTT)</th>
                                <th>Sales</th>
                                <th>@Html.DisplayNameFor(m => m.TourIBDTOs.FirstOrDefault().NgayTao)</th>
                                <th>@Html.DisplayNameFor(m => m.TourIBDTOs.FirstOrDefault().TrangThai)</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.TourIBDtosGroupByNguoiTaos != null)
                            {
                                @foreach (var vm in Model.TourIBDtosGroupByNguoiTaos)
                                {
                                    foreach (var item in vm.TourIBDTOs)
                                    {

                                        <tr class="cursor-pointer ">
                                            <td>@i</td>
                                            @switch (item.TrangThai)
                                            {

                                                case "0":
                                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                    break;
                                                case "1":
                                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                    break;
                                                case "2":
                                                    <td class="tdVal bg-yellow" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                    break;
                                                case "3":
                                                    <td class="tdVal " style="background-color: chartreuse" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                    break;
                                                case "4":
                                                    <td class="tdVal bg-red" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                    break;
                                            }
                                            <td class="tdVal" data-id="@item.Id">
                                                <select class="form-control form-control-sm border-input "
                                        asp-items="@(new SelectList(Model.Companies,"CompanyId","Name", item.CompanyId))">
                                                </select>
                                            </td>
                                            <td class="tdVal" data-id="@item.Id">@Html.Raw(item.NgayDen.ToString("dd/MM/yyyy"))</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.Raw(item.NgayDi.ToString("dd/MM/yyyy"))</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.ChuDeTour)</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.TuyenTQ)</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.Raw(item.SoKhachDK.ToString("N0"))</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.Raw(item.DoanhThuDK.ToString("N0"))</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.Raw(item.SoKhachTT.ToString("N0"))</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.Raw(item.DoanhThuTT.ToString("N0"))</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.NguoiTao)</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.Raw(item.NgayTao.ToString("dd/MM/yyyy"))</td>
                                            <td class="tdVal" data-id="@item.Id">
                                                @switch (item.TrangThai)
                                                {

                                                    case "0":
                                                        <span>Mới tạo</span>
                                                        break;
                                                    case "1":
                                                        <span>Mới đàm phán</span>
                                                        break;
                                                    case "2":
                                                        <span>Đã ký hợp đồng</span>
                                                        break;
                                                    case "3":
                                                        <span> Đã thanh lý hợp đồng</span>
                                                        break;
                                                    case "4":
                                                        <span>Giao dịch chưa thành công</span>
                                                        break;
                                                }
                                            </td>
                                        </tr>

                                        i++;

                                    }
                                    <tr class="cursor-pointer text-bold">
                                        <td></td>
                                        <td>Tổng Cộng:</td>
                                        <td>CHƯA THANH LÝ HỢP ĐỒNG:</td>
                                        <td>@Html.Raw(vm.TourIBDTOs.FirstOrDefault().ChuaThanhLyHopDong.ToString("N0"))</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="cursor-pointer text-bold">
                                        <td></td>
                                        <td></td>
                                        <td>ĐÃ THANH LÝ HỢP ĐỒNG:</td>
                                        <td>@Html.Raw(vm.TourIBDTOs.FirstOrDefault().DaThanhLyHopDong.ToString("N0"))</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="cursor-pointer text-bold">
                                        <td></td>
                                        <td></td>
                                        <td>TỔNG CỘNG THEO TỪNG SALE:</td>
                                        <td>@Html.Raw(vm.TourIBDTOs.FirstOrDefault().TongSoKhachTheoSale.ToString("N0"))</td>
                                        <td>@Html.Raw(vm.TourIBDTOs.FirstOrDefault().TongCongTheoTungSale.ToString("N0"))</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                }
                                <tr class="cursor-pointer text-bold">
                                    <td></td>
                                    <td>Tổng Cộng:</td>
                                    <td></td>
                                    <td>@Html.Raw(Model.TongSK.Value.ToString("N0"))</td>
                                    <td>@Html.Raw(Model.TongCong.Value.ToString("N0"))</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                            }

                        </tbody>

                    </table>
                }
                <!-- KDIB-->
                <!-- KDND-->
                @if (@Model.Khoi == "ND")
                {
                    <table class="table mytable text-nowrap tblTour " id="listDoanhSoTheoSale">
                        <thead>
                            <tr class="table-info">
                                @*<th>#</th>*@
                                @*<th>#</th>*@
                                <th>STT</th>
                                <th>@Html.DisplayNameFor(m => m.TourNDDTOs.FirstOrDefault().Sgtcode)</th>
                                <th>@Html.DisplayNameFor(m => m.TourNDDTOs.FirstOrDefault().Tenkh)</th>
                                <th>@Html.DisplayNameFor(m => m.TourNDDTOs.FirstOrDefault().Batdau)</th>
                                <th>@Html.DisplayNameFor(m => m.TourNDDTOs.FirstOrDefault().Ketthuc)</th>
                                <th>@Html.DisplayNameFor(m => m.TourNDDTOs.FirstOrDefault().Chudetour)</th>
                                <th>@Html.DisplayNameFor(m => m.TourNDDTOs.FirstOrDefault().Tuyentq)</th>
                                <th>@Html.DisplayNameFor(m => m.TourNDDTOs.FirstOrDefault().Sokhachdk)</th>
                                <th>@Html.DisplayNameFor(m => m.TourNDDTOs.FirstOrDefault().Doanhthudk)</th>
                                <th>@Html.DisplayNameFor(m => m.TourNDDTOs.FirstOrDefault().Sokhachtt)</th>
                                <th>@Html.DisplayNameFor(m => m.TourNDDTOs.FirstOrDefault().Doanhthutt)</th>
                                <th>Sales</th>
                                <th>@Html.DisplayNameFor(m => m.TourNDDTOs.FirstOrDefault().Ngaytao)</th>
                                <th>@Html.DisplayNameFor(m => m.TourNDDTOs.FirstOrDefault().Trangthai)</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.TourNDDtosGroupByNguoiTaos != null)
                            {
                                @foreach (var vm in Model.TourNDDtosGroupByNguoiTaos)
                                {
                                    foreach (var item in vm.TourNDDTOs)
                                    {

                                        <tr class="cursor-pointer ">
                                            <td>@i</td>
                                            @switch (item.Trangthai)
                                            {

                                                case "0":
                                                    <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                    break;
                                                case "1":
                                                    <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                    break;
                                                case "2":
                                                    <td class="tdVal bg-yellow" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                    break;
                                                case "3":
                                                    <td class="tdVal " style="background-color: chartreuse" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                    break;
                                                case "4":
                                                    <td class="tdVal bg-red" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                    break;
                                                default:
                                                    <td class="tdVal" data-id="@item.Idtour"></td>
                                                    break;

                                            }
                                            <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Tenkh)</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Batdau.Value.ToString("dd/MM/yyyy"))</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Ketthuc.Value.ToString("dd/MM/yyyy"))</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Chudetour)</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Tuyentq)</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Sokhachdk.Value.ToString("N0"))</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Doanhthudk.Value.ToString("N0"))</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Sokhachtt == null ? "0" : item.Sokhachtt.Value.ToString("N0"))</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Doanhthutt == null ? "0" : item.Doanhthutt.Value.ToString("N0"))</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Nguoitao)</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Ngaytao.Value.ToString("dd/MM/yyyy"))</td>
                                            <td class="tdVal" data-id="@item.Idtour">
                                                @switch (item.Trangthai)
                                                {

                                                    case "0":
                                                        <span>Mới tạo</span>
                                                        break;
                                                    case "1":
                                                        <span>Mới đàm phán</span>
                                                        break;
                                                    case "2":
                                                        <span>Đã ký hợp đồng</span>
                                                        break;
                                                    case "3":
                                                        <span> Đã thanh lý hợp đồng</span>
                                                        break;
                                                    case "4":
                                                        <span>Giao dịch chưa thành công</span>
                                                        break;
                                                }
                                            </td>
                                        </tr>

                                        i++;

                                    }
                                    <tr class="cursor-pointer text-bold">
                                        <td></td>
                                        <td>Tổng Cộng:</td>
                                        <td>CHƯA THANH LÝ HỢP ĐỒNG:</td>
                                        <td>
                                            @{
                                                vm.TourNDDTOs.FirstOrDefault().ChuaThanhLyHopDong ??= 0;
                                            }
                                            @Html.Raw(vm.TourNDDTOs.FirstOrDefault().ChuaThanhLyHopDong.Value.ToString("N0"))
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="cursor-pointer text-bold">
                                        <td></td>
                                        <td></td>
                                        <td>ĐÃ THANH LÝ HỢP ĐỒNG:</td>
                                        <td>@Html.Raw(vm.TourNDDTOs.FirstOrDefault().DaThanhLyHopDong.Value.ToString("N0"))</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="cursor-pointer text-bold">
                                        <td></td>
                                        <td></td>
                                        <td>TỔNG CỘNG THEO TỪNG SALE:</td>
                                        <td>@Html.Raw(vm.TourNDDTOs.FirstOrDefault().TongSoKhachTheoSale.Value.ToString("N0"))</td>
                                        <td>
                                            @{
                                                vm.TourNDDTOs.FirstOrDefault().TongCongTheoTungSale ??= 0;
                                            }
                                            @Html.Raw(vm.TourNDDTOs.FirstOrDefault().TongCongTheoTungSale.Value.ToString("N0"))
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                }
                                <tr class="cursor-pointer text-bold">
                                    <td></td>
                                    <td>Tổng Cộng:</td>
                                    <td></td>
                                    <td>@Html.Raw(Model.TongSK.Value.ToString("N0"))</td>
                                    <td>
                                        @{
                                            Model.TongCong ??= 0;
                                        }
                                        @Html.Raw(Model.TongCong.Value.ToString("N0"))
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                            }

                        </tbody>

                    </table>
                }
                <!-- KDND-->
                <!-- KDOB-->
                @if (@Model.Khoi == "OB")
                {
                    <table class="table mytable text-nowrap tblTour " id="listDoanhSoTheoSale">
                        <thead>
                            <tr class="table-info">
                                @*<th>#</th>*@
                                @*<th>#</th>*@
                                <th>STT</th>
                                <th>@Html.DisplayNameFor(m => m.TourOBDTOs.FirstOrDefault().Sgtcode)</th>
                                <th>@Html.DisplayNameFor(m => m.TourOBDTOs.FirstOrDefault().Tenkh)</th>
                                <th>@Html.DisplayNameFor(m => m.TourOBDTOs.FirstOrDefault().Batdau)</th>
                                <th>@Html.DisplayNameFor(m => m.TourOBDTOs.FirstOrDefault().Ketthuc)</th>
                                <th>@Html.DisplayNameFor(m => m.TourOBDTOs.FirstOrDefault().Chudetour)</th>
                                <th>@Html.DisplayNameFor(m => m.TourOBDTOs.FirstOrDefault().Tuyentq)</th>
                                <th>@Html.DisplayNameFor(m => m.TourOBDTOs.FirstOrDefault().Sokhachdk)</th>
                                <th>@Html.DisplayNameFor(m => m.TourOBDTOs.FirstOrDefault().Doanhthudk)</th>
                                <th>@Html.DisplayNameFor(m => m.TourOBDTOs.FirstOrDefault().Sokhachtt)</th>
                                <th>@Html.DisplayNameFor(m => m.TourOBDTOs.FirstOrDefault().Doanhthutt)</th>
                                <th>Sales</th>
                                <th>@Html.DisplayNameFor(m => m.TourOBDTOs.FirstOrDefault().Ngaytao)</th>
                                <th>@Html.DisplayNameFor(m => m.TourOBDTOs.FirstOrDefault().Trangthai)</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.TourOBDtosGroupByNguoiTaos != null)
                            {
                                @foreach (var vm in Model.TourOBDtosGroupByNguoiTaos)
                                {
                                    foreach (var item in vm.TourOBDTOs)
                                    {

                                        <tr class="cursor-pointer ">
                                            <td>@i</td>
                                            @switch (item.Trangthai)
                                            {

                                                case "0":
                                                    <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                    break;
                                                case "1":
                                                    <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                    break;
                                                case "2":
                                                    <td class="tdVal bg-yellow" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                    break;
                                                case "3":
                                                    <td class="tdVal " style="background-color: chartreuse" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                    break;
                                                case "4":
                                                    <td class="tdVal bg-red" data-id="@item.Idtour">@Html.DisplayFor(m => item.Sgtcode)</td>
                                                    break;
                                                default:
                                                    <td class="tdVal" data-id="@item.Idtour"></td>
                                                    break;

                                            }
                                            <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Tenkh)</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Batdau.Value.ToString("dd/MM/yyyy"))</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Ketthuc.Value.ToString("dd/MM/yyyy"))</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Chudetour)</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Tuyentq)</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Sokhachdk.Value.ToString("N0"))</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Doanhthudk.Value.ToString("N0"))</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Sokhachtt == null ? "0" : item.Sokhachtt.Value.ToString("N0"))</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Doanhthutt == null ? "0" : item.Doanhthutt.Value.ToString("N0"))</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.DisplayFor(m => item.Nguoitao)</td>
                                            <td class="tdVal" data-id="@item.Idtour">@Html.Raw(item.Ngaytao.Value.ToString("dd/MM/yyyy"))</td>
                                            <td class="tdVal" data-id="@item.Idtour">
                                                @switch (item.Trangthai)
                                                {

                                                    case "0":
                                                        <span>Mới tạo</span>
                                                        break;
                                                    case "1":
                                                        <span>Mới đàm phán</span>
                                                        break;
                                                    case "2":
                                                        <span>Đã ký hợp đồng</span>
                                                        break;
                                                    case "3":
                                                        <span> Đã thanh lý hợp đồng</span>
                                                        break;
                                                    case "4":
                                                        <span>Giao dịch chưa thành công</span>
                                                        break;
                                                }
                                            </td>
                                        </tr>

                                        i++;

                                    }
                                    <tr class="cursor-pointer text-bold">
                                        <td></td>
                                        <td>Tổng Cộng:</td>
                                        <td>CHƯA THANH LÝ HỢP ĐỒNG:</td>
                                        <td>
                                            @{
                                                vm.TourOBDTOs.FirstOrDefault().ChuaThanhLyHopDong ??= 0;
                                            }
                                            @Html.Raw(vm.TourOBDTOs.FirstOrDefault().ChuaThanhLyHopDong.Value.ToString("N0"))
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="cursor-pointer text-bold">
                                        <td></td>
                                        <td></td>
                                        <td>ĐÃ THANH LÝ HỢP ĐỒNG:</td>
                                        <td>@Html.Raw(vm.TourOBDTOs.FirstOrDefault().DaThanhLyHopDong.Value.ToString("N0"))</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="cursor-pointer text-bold">
                                        <td></td>
                                        <td></td>
                                        <td>TỔNG CỘNG THEO TỪNG SALE:</td>
                                        <td>@Html.Raw(vm.TourOBDTOs.FirstOrDefault().TongSoKhachTheoSale.Value.ToString("N0"))</td>
                                        <td>
                                            @{
                                                vm.TourOBDTOs.FirstOrDefault().TongCongTheoTungSale ??= 0;
                                            }
                                            @Html.Raw(vm.TourOBDTOs.FirstOrDefault().TongCongTheoTungSale.Value.ToString("N0"))
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                }
                                <tr class="cursor-pointer text-bold">
                                    <td></td>
                                    <td>Tổng Cộng:</td>
                                    <td></td>
                                    <td>@Html.Raw(Model.TongSK.Value.ToString("N0"))</td>
                                    <td>
                                        @{
                                            Model.TongCong ??= 0;
                                        }
                                        @Html.Raw(Model.TongCong.Value.ToString("N0"))
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                            }

                        </tbody>

                    </table>
                }
                <!-- KDOB-->
            </div>

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<style>

    / Fixed Headers /

    th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    th[scope=row] {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        z-index: 1;
    }

    th[scope=row] {
        vertical-align: top;
        color: inherit;
        background-color: inherit;
        background: linear-gradient(90deg, transparent 0%, transparent calc(100% - .05em), #d6d6d6 calc(100% - .05em), #d6d6d6 100%);
    }

    table:nth-of-type(2) th:not([scope=row]):first-child {
        left: 0;
        z-index: 3;
        background: linear-gradient(90deg, #666 0%, #666 calc(100% - .05em), #ccc calc(100% - .05em), #ccc 100%);
    }

    / Strictly for making the scrolling happen. /

    th[scope=row] + td {
        min-width: 24em;
    }

    th[scope=row] {
        min-width: 20em;
    }

</style>
@section Scripts{


    <script>

        //$(function () {
        //    //$("#datepicker").datepicker({
        //    //    dateFormat: 'dd/mm/yy'
        //    //});

        //    $('#listDoanhSoTheoSale').DataTable({
        //        "paging": true,
        //        "lengthChange": true,
        //        "searching": true,
        //        "ordering": false,
        //        "info": false,
        //        "autoWidth": true,
        //    });
        //});


        $('#frmDoanhSoTheoSale').validate({
            //rules: {
            //    email: {
            //        required: true,
            //        email: true,
            //    },
            //    NgayDen: {
            //        required: true
            //    },
            //    chuDetour1: {
            //        required: true
            //    },
            //},
            //messages: {
            //    email: {
            //        required: "Please enter a email address",
            //        email: "Please enter a vaild email address"
            //    },
            //    NgayDen: {
            //        required: "Please provide a date"
            //    },
            //    chuDetour1: "Please enter value"
            //},
            errorElement: 'span',
            errorPlacement: function(error, element) {
                // add error text

                //error.addClass('invalid-feedback').removeClass('error');
                //element.closest('#txtSearchFromDate').append(error);
            },
            highlight: function(element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function(element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        $('#txtSearchFromDate').rules('add', {
            dateITA: true,
            messages: {
                //dateITA: "Không đúng định dạng."
            }
        });

        $('#txtSearchToDate').rules('add', {
            dateITA: true,
            messages: {

                //dateITA: "Không đúng định dạng."
            }
        });

    </script>
    @*<script src="~/js/Admin/DoanhSoTheoSale/doanhSoTheoSaleController.js"></script>*@

    <style>
        /*#listDoanhSoTheoSale {
                                                                                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                                                                                }*/

        #search {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        /*.tblTour .cursor-pointer:hover {
                                                                                    background-color: #3E5C9A;
                                                                                    cursor: pointer;
                                                                                }*/

        /*.hoverClass {
                                                                                    background-color: #3E5C9A;
                                                                                }*/
    </style>
}

