@model TuyentqTheoNgayDiViewModel

<!-- Main content -->
<section class="content pt-2">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title text-bold">BÁO CÁO DOANH THU TUYẾN THAM QUAN</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-2">


            <form id="formSearch" autocomplete="off">
                @*<div class="p-4 border rounded">*@

                    <div class="form-group row">

                        <div class="col-md-2">
                            Từ ngày
                            <input value="@ViewBag.searchFromDate" name="tungay" class="form-control form-control-sm maskInput" id="txtTuNgay" />
                        </div>

                        <div class="col-md-2">
                            Đến ngày
                            <input value="@ViewBag.searchToDate" name="denngay" class="form-control form-control-sm maskInput" id="txtDenNgay" />
                        </div>

                        <div class="col-md-2">
                            Code CN
                            <select name="chiNhanh" class="form-control form-control-sm border-input ddlChiNhanh" id="ddlChiNhanh"
                                    asp-items="@(new SelectList(Model.ChiNhanhToReturnViewModels,"Name","Name", ViewBag.chiNhanh))">
                            </select>
                        </div>

                        <div class="col-md-2">
                            Khối
                            <select class="form-control form-control-sm" id="ddlKhoi" name="khoi"
                                    asp-items="@(new SelectList(Model.KhoiViewModels_KL, "Name", "Name", ViewBag.khoi))">
                            </select>
                        </div>

                        <div class="col-md-2">
                            <br />
                            <span class="btn-group btn-block">

                                <button type="submit" id="btnSearch" class="btn btn-outline-primary btn-sm" formaction="/BaoCao/TuyentqTheoNgayDi"><i class="fa fa-search"></i></button>
                                <button type="submit" id="btnExportAll1" class="btn btn-outline-success btn-sm" formmethod="post" formaction="/BaoCao/TuyentqTheoNgayDiPost"><i class="fas fa-file-export"></i></button>
                            </span>
                        </div>

                    </div>


                @*</div>*@

            </form>
            <div style="overflow-x:auto;">
                <table class="table mytable text-nowrap" id="listAll">
                    <thead>
                        <tr class="table-info">
                            <th>#</th>
                            <th>STT</th>
                            <th>Code CN</th>
                            <th>Tuyến tham quan</th>
                            <th>Khách HT</th>
                            <th>Thực thu HT</th>
                            <th>Khách cũ</th>
                            <th>Thực thu cũ</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.TuyentqNgaydis != null)
                        {
                            @foreach (var item in Model.TuyentqNgaydis)
                            {
                                <tr>
                                    <td>
                                        <form id="frmDetail" asp-action="TuyentqTheoNgayDiChiTietToExcel">
                                            <input type="hidden" name="tungay" id="hidTuNgay" value="@Model.TuNgay" />
                                            <input type="hidden" name="denngay" id="hidDenNgay" value="@Model.DenNgay" />
                                            <input type="hidden" name="tuyentq" id="hidTuyentq" value="@item.Tuyentq" />
                                            <input type="hidden" name="chinhanh" id="hidChiNhanh" value="@item.Chinhanh" />
                                            <input type="hidden" name="khoi" id="hidKhoi" value="@Model.Khoi" />
                                            <button type="submit" class="btn btn-outline-success btnExportDetail"><i class="fas fa-file-export"></i></button>

                                        </form>
                                    </td>
                                    <td>@Html.DisplayFor(m => item.Stt)</td>
                                    <td>@Html.DisplayFor(m => item.Chinhanh)</td>
                                    <td>@Html.DisplayFor(m => item.Tuyentq)</td>
                                    <td>@Html.DisplayFor(m => item.Khachht)</td>
                                    @if (item.Thucthuht.HasValue)
                                    {
                                        <td>@Html.Raw(item.Thucthuht.Value.ToString("N0"))</td>
                                    }
                                    else
                                    {
                                        <td>0</td>
                                    }

                                    <td>@Html.DisplayFor(m => item.Khachcu)</td>
                                    @if (item.Thucthucu.HasValue)
                                    {
                                        <td>@Html.Raw(item.Thucthucu.Value.ToString("N0"))</td>
                                    }
                                    else
                                    {
                                        <td>0</td>
                                    }

                                </tr>
                            }
                        }
                    </tbody>

                </table>
            </div>

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->


@section Scripts{
    <script>

        //$(function () {
        //    $("#datepicker").datepicker({
        //        dateFormat: 'dd/mm/yy'
        //    });
        //});

        $('#listAll').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
    </script>
    @*<script src="~/Admin/TuyentqTheoNgayDi/tuyentqTheoNgayDiController.js"></script>*@
}